*, ::after, ::before {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

body, html {

}

html {
  scroll-behavior: smooth;
  font-style: normal;
  font-family: 'Courier New', Courier, monospace;
  /* font-size: 62.5%; */
  font-size: 16px;
  line-height: 24px;
  color: black;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  display: block;
  margin: 0;
}

a {
  text-decoration: none;
  color: black
}

:is(h1, h2, h3) {
  margin-bottom: 2rem;
}

ul, li, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.button {
  width: 5rem;
  height: 2rem;
  background-color: red;
}

.container {
  width: 100%;
  max-width: 128rem;
  margin: 0 auto;
  padding: 0 6rem;
}

.header {
  position: absolute;
  width: 100%;
  background-color: inherit;
  padding: 2rem 5rem;
}


.header__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


.main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
}

/* Intro */

.intro {
  background-color: coral;
  padding: 9rem 4rem 2rem;
}

.intro__container {
  display: flex;
  justify-content: space-between;
}

.intro p {
  max-width: 400px;
}

.intro__block {
}

.intro__block p {
  margin-bottom: 2rem;
}




/* About-me  */

.about-me {
  padding: 5rem 2rem;
  background-color: blueviolet;
}

.about-me__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me__contacts {
  display: flex;
  /* flex-direction: column; */
}



/* Skills */

.skills {
  padding: 5rem 2rem;
  background-color: teal

}

.skills__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills__wrapper {
  display: flex;

}

.skills__program {
  display: flex;
  flex-direction: column;
}

/* Projects  */

.projects {
  padding: 5rem 2rem;
  background-color: goldenrod;
}

.projects__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects__list {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
}


/* education */
.education {
  padding: 5rem 2rem;
  background-color: indianred;
}

.education__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.languages {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.courses {
  display: flex;
  flex-direction: row;
  column-gap: 4rem;
}


/* footer */

.footer {
  display: flex;
  width: 100%;
  min-height: 3rem;background-color: olive;
  padding: 2rem 2rem;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.rsschool {
  background-color: #fff;
}